/*Global CSS*/
:root {
    --leo-black: #090008;
    --leo-grey: #27272757;
    --leo-red: #840000;
    --leo-light-red: #e7608c;
}

.btn-secondary {
    --bs-btn-bg: var(--leo-grey);
}

body {
    overflow-y: hidden;
}

#overlay-verify-age {
    top: 0;
    left: 0;
    z-index: 999;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.5);
}

#overlay-email {
    top: 0;
    left: 0;
    z-index: 999;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.5);
}

.overlay-content {
    background: black;
    border-top: 10px solid var(--leo-red);

    input {
        background: #272727a3;
        padding: 0.8rem;
        color: white;
        border: none;
        border-bottom: 1px solid lightgrey;
    }
}

.btn-danger {
    --bs-btn-bg: var(--leo-red);
    --bs-btn-border-color: var(--leo-red);
}






body {
    background: var(--leo-black);
    padding: 0;
    margin: 0;
}


.h-fluid {
    width: 100%;
    object-fit: cover;
    max-height: 100%;
}


.img-wrapper {
    position: relative;

    &::after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, transparent, var(--leo-black) 84%);
    }
}


.text-red {
    color: var(--leo-red);
}


.max-vh-100 {
    max-height: 95vh;
}

#opening-img {
    background: url('../imgs/dmz_3.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    position: relative;
    box-shadow: inset 0px -20px 8px 0px black;
}

#opening-img::after {
    left: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to bottom, transparent 93%, #681014c4); */
    top: 0;
    position: absolute;
}

.service {
    background-color: var(--leo-grey);

    .service-description {
        h3 {
            color: var(--leo-red);
        }

        p {
            font-weight: 300;
            color: white;
        }
    }


    .service-image[name='spanking'] {
        background: url('../imgs/dmz_22.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .service-image[name='performance'] {
        background: url('../imgs/leo_perform.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }

    .service-image[name='coaching'] {
        background: url('../imgs/dmz_19.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .service-image[name='workshop'] {
        background: url('../imgs/leo_fire.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }

    .service-image[name='service'] {
        background: url('../imgs/leo_service.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}


.service-image {
    border: 1px solid #5b0000cc;
    border-radius: 5px;
}

footer {
    svg {
        height: 1.5rem;
        max-width: 1.4rem;
        fill: var(--leo-red);
    }

    .flex-column p {
        /*-webkit-text-stroke: 0.48px var(--leo-red);*/
        text-shadow:
        -1px 0px 2px var(--leo-red), 
        1px 0px 2px var(--leo-red),
        0px -1px 2px var(--leo-red), 
        0px 1px 2px var(--leo-red);
    }

    .flex-column {
        width: min-content;

    }
}

.service {
    position:relative;
}
.service::after {
     content: "";
    position:absolute;
    width:100%;
    height:100%;
    background:#0b0008;
    top:0;
    left:0;
    transition:width 1.3s ease-in-out;
}
.reveal:after {
   animation:1.3s ease-in-out reveal;
    animation-fill-mode:forwards;
    
}
@keyframes reveal {
    from {
        box-shadow:10px 0 20px 10px black;
        width:100%;
    } to {
        width:0%;
        box-shadow: none;
    }
}
@media (min-width: 100px) and (max-width: 767px) {
    .service {
        p {
            font-size: 0.86rem;
        }
    }

    .section-title .fs-5,
    footer .fs-5 {
        font-size: 1.1rem !important;
    }
}

@media (min-width: 768px) {
    .fs-5 {
        font-size: 1.5rem !important;
    }

    .service p {
        font-size: 1.25rem !important;
    }

    .service-image {
        min-height: 500px;
    }
}